$borderColor: #f5f5f5;
.tabs {
  height: px2vw(88);
  width: 100vw;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: px2vw(32);
  color: #272727;
  border-bottom: 1px solid $borderColor;
  &.onExpand {
    position: absolute;
    z-index: 2;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid $borderColor;
    &:last-child {
      border: none;
    }
    .icon {
      position: absolute;
      right: px2vw(22);
      color: #888;
    }
  }
}
.options-slot {
  position: absolute;
  background: #fff;
  border-top: 1px solid $borderColor;
  width: 100vw;
  z-index: 2;
}
.mask {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background: rgba(#000, 0.1);
}
