.actionsheet {
  .container {
    position: fixed;
    width: 100vw;
    opacity: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.3s;
    z-index: -1;
    background: #fff;
  }
  .mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.1);
    top: 0;
    display: none;
  }
  &.visible {
    .container {
      transform: translateY(0);
      opacity: 1;
      z-index: 2;
    }
    .mask {
      z-index: 1;
      display: block;
    }
  }
}
