button.zyb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #3E86F7;
  border: 1px solid #3E86F7;
  border-radius: vw2px(8);
  margin: 0 auto;

  &:disabled {
    opacity: 0.4;
  }

  &.primary {
    background: #3E86F7;
    border-color: darken(#3E86F7, 10%);
    color: #fff;
  }

  &.warn {
    background: #FFB24C;
    border-color: darken(#FFB24C, 10%);
    color: #fff;
  }

  &.error {
    background: #FF5E4C;
    border-color: darken(#FF5E4C, 10%);
    color: #fff;
  }

  &.l {
    width: vw2px(690);
    height: vw2px(88);
    font-size: vw2px(36);
  }

  &.m {
    width: vw2px(360);
    height: vw2px(64);
    font-size: vw2px(32);
  }

  &.s {
    width: vw2px(144);
    height: vw2px(56);
    font-size: vw2px(28);
  }
}