button.zyb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #3E86F7;
  border: 1px solid #3E86F7;
  border-radius: vw750px(8);
  margin: 0 auto;

  &:disabled {
    opacity: 0.4;
  }

  &.primary {
    background: #3E86F7;
    color: #fff;
  }

  &.l {
    width: vw750px(690);
    height: vw750px(88);
    font-size: vw750px(36);
  }

  &.m {
    width: vw750px(360);
    height: vw750px(64);
    font-size: vw750px(32);
  }

  &.s {
    width: vw750px(144);
    height: vw750px(56);
    font-size: vw750px(28);
  }
}